.heart-icon {
  width: 40px;
  height: 40px;
}

.close-icon {
  width: 40px;
  height: 40px;
  background-color: white;
}

@media screen and (max-width: 834px) {
  .heart-icon {
    width: 40px;
    height: 40px;
  }

  .close-icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 679px) {
  .heart-icon {
    width: 20px;
    height: 20px;
  }

  .close-icon {
    width: 20px;
    height: 20px;
    background-color: white;
  }
}

@media only screen and (max-width: 375px) {
  .heart-icon {
    width: 20px;
    height: 20px;
  }

  .close-icon {
    width: 20px;
    height: 20px;
    background-color: white;
  }
}
